<script type="text/live-matrix-template" id="5x4Table">
    <table class="table5x4" cellpadding="0">
        <tr>
            <td class="unavailable"></td>
            <td class="pointer-config-1x1-1 pointer-config-2x2-1 pointer-config-2x3-1 pointer-config-2x1-1 pointer-config-1x2-1"></td>
            <td class="pointer-config-1x1-2 config-2x2-1 pointer-config-2x2-2 config-2x3-1 pointer-config-2x3-2 config-2x1-1 pointer-config-2x1-2 pointer-config-1x2-2"></td>
            <td class="pointer-config-1x1-3 config-2x2-2 pointer-config-2x2-3 config-2x3-2 pointer-config-2x3-3 config-2x1-2 pointer-config-2x1-3 pointer-config-1x2-3"></td>
            <td class="pointer-config-1x1-4 config-2x2-3 config-2x3-3 config-2x1-3 pointer-config-1x2-4"></td>
        </tr>
        <tr>
            <td class="unavailable"></td>
            <td class="pointer-config-1x1-5 config-2x2-1 pointer-config-2x2-4 config-2x3-1 pointer-config-2x3-4 pointer-config-2x1-4 config-1x2-1 pointer-config-1x2-5"></td>
            <td class="pointer-config-1x1-6 config-2x2-1 config-2x2-2 pointer-config-2x2-5 config-2x2-4 config-2x3-1 config-2x3-2 config-2x3-4 pointer-config-2x3-5 config-2x1-4 pointer-config-2x1-5 config-1x2-2 pointer-config-1x2-6"></td>
            <td class="pointer-config-1x1-7 config-2x2-2 config-2x2-3 pointer-config-2x2-6 config-2x2-5 config-2x3-2 config-2x3-3 config-2x3-5 pointer-config-2x3-6 config-2x1-5 pointer-config-2x1-6 config-1x2-3 pointer-config-1x2-7"></td>
            <td class="pointer-config-1x1-8 config-2x2-3 config-2x2-6 config-2x3-3 config-2x3-6 config-2x1-6 config-1x2-4 pointer-config-1x2-8"></td>
        </tr>
        <tr>
            <td class="pointer-config-1x1-9 pointer-config-2x2-7 pointer-config-2x1-7 pointer-config-1x2-9"></td>
            <td class="pointer-config-1x1-10 pointer-config-2x2-8 config-2x2-4 config-2x2-7 config-2x3-1 config-2x3-4 config-2x1-7 pointer-config-2x1-8 config-1x2-5 pointer-config-1x2-10"></td>
            <td class="pointer-config-1x1-11 pointer-config-2x2-9 config-2x2-4 config-2x2-5 config-2x2-8 config-2x3-1 config-2x3-2 config-2x3-4 config-2x3-5 config-2x1-8 pointer-config-2x1-9 config-1x2-6 pointer-config-1x2-11"></td>
            <td class="pointer-config-1x1-12 pointer-config-2x2-10 config-2x2-5 config-2x2-6 config-2x2-9 config-2x3-2 config-2x3-3 config-2x3-5 config-2x3-6 config-2x1-9 pointer-config-2x1-10 config-1x2-7 pointer-config-1x2-12"></td>
            <td class="pointer-config-1x1-13 config-2x2-6 config-2x2-10 config-2x3-3 config-2x3-6 config-2x1-10 config-1x2-8 pointer-config-1x2-13"></td>
        </tr>
        <tr>
            <td class="pointer-config-1x1-14 config-2x2-7 pointer-config-2x1-11 config-1x2-9"></td>
            <td class="pointer-config-1x1-15 config-2x2-7 config-2x2-8 config-2x3-4 config-2x1-11 pointer-config-2x1-12 config-1x2-10"></td>
            <td class="pointer-config-1x1-16 config-2x2-8 config-2x2-9 config-2x3-4 config-2x3-5 config-2x1-12 pointer-config-2x1-13 config-1x2-11"></td>
            <td class="pointer-config-1x1-17 config-2x2-9 config-2x2-10 config-2x3-5 config-2x3-6 pointer-config-2x1-14 config-1x2-12"></td>
            <td class="pointer-config-1x1-18 config-2x2-10 config-2x3-6 config-2x1-14 config-1x2-13"></td>
        </tr>
    </table>
</script>
